* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

header {
    background-image: url("../image/banner.png");
    min-height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 116, 116);
    opacity: 0.6;
    z-index: -1;
}

header span {
    display: block;
    height: 25px;
    width: 2px;
    background: rgb(76, 109, 109);
}

.header_icon {
    display: flex;
    align-items: center;
}

.header_icon i {
    color: rgb(189, 200, 200);
    font-size: 16px;
}

.header_icon p {
    margin-left: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
}

.nav_bar {
    padding: 15px 100px;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.nav-item {
    margin-left: 20px;
}

.header_bar {
    padding: 0px 90px;
}

.header_bar span {
    display: block;
    height: 2px;
    width: 100%;
    background: rgb(76, 109, 109);
}

.btn_started {
    background: transparent;
    border: 2px solid rgb(105, 127, 127);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px 25px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out 0s;
}

.btn_started:hover {
    background: rgb(105, 127, 127);
    color: rgb(255, 255, 255);
}

.header_content {
    padding: 150px 100px;
}

.header_content h1 {
    font-size: 40px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.header_content p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 10px;
}

.btn_learn {
    background: transparent;
    border: 2px solid rgb(111, 176, 72);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px 25px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
}

.btn_learn:hover {
    background: rgb(111, 176, 72);
    color: rgb(255, 255, 255);
}

.feature_section {
    padding: 50px 0px;
}

.heading {
}

.heading h1 {
    color: rgb(15, 95, 92);
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
}

.heading span {
    display: block;
    height: 2px;
    width: 100px;
    background: transparent;
    margin: auto auto 5px;
    position: relative;
}

.heading span::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background: rgb(111, 176, 72);
    transition: all 0.4s ease-in-out 0s;
}

.heading span::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background: rgb(111, 176, 72);
    transition: all 0.4s ease-in-out 0s;
}

.feature_section:hover .heading span::before, .feature_section:hover .heading span::after, .responsive_section:hover .heading span::before, .responsive_section:hover .heading span::after {
    width: 48%;
}

.price_section:hover .heading span::before, .price_section:hover .heading span::after, .plan_section:hover .heading span::before, .plan_section:hover .heading span::after, .help:hover .heading span::before, .help:hover .heading span::after{
    width: 48%;
}

.heading p {
    color: rgb(131, 167, 165);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 45px;
}

.feature_content {
    padding: 50px;
}

.feature_content h5 {
    margin-top: 20px;
    color: rgb(15, 95, 92);
    font-size: 20px;
    font-weight: 600;
}

.feature_content p {
    margin-top: 15px;
    color: rgb(131, 167, 165);
    font-size: 17px;
    font-weight: 400;
}

.span_1 {
}

.span_1 span {
    display: block;
    height: 120px;
    width: 6px;
    background: rgb(242, 242, 242);
    margin: auto;
}

.span_2 {
}

.span_2 span {
    display: block;
    height: 6px;
    width: 120px;
    background: rgb(242, 242, 242);
    margin: auto;
}

.more_feature {
    padding: 60px 0px;
}

.feature_icon {
    display: flex;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(111, 176, 72);
    font-size: 25px;
}

.feature_icon h5 {
    color: rgb(15, 95, 92);
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
}

.more_feature p {
    font-size: 16px;
    font-weight: 500;
    color: rgb(131, 167, 165);
    margin-top: 10px;
}

.responsive_section {
    padding: 50px;
    background: rgb(238, 241, 236);
    position: relative;
}

.responsive_content {
    min-height: 60vh;
    align-items: center;
}

.responsive_content h2 {
    font-size: 32px;
    color: rgb(15, 95, 92);
    margin-bottom: 20px;
    font-weight: 600;
}

.responsive_content p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(131, 167, 165);
    margin-bottom: 20px;
}

.responsiv_icon {
    display: flex;
}

.icon_box {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: rgb(131, 167, 165);
    font-size: 25px;
    font-weight: 500;
}

.responsiv_icon p {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
}

.phone {
    position: absolute;
    bottom: 0px;
    left: 103px;
    width: 43%;
}

.responsive_details {
    padding-left: 70px;
}

.client_section {
    padding: 50px 0px;
}

.client_section p {
    color: rgb(131, 167, 165);
    line-height: 30px;
    margin-top: 70px;
    font-size: 20px;
}

.client_section h5 {
    color: rgb(131, 167, 165);
    margin-top: 10px;
}

.client_section h6 {
    font-size: 20px;
    color: rgb(111, 176, 72);
    margin-top: 29px;
}

.client_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.details_section {
    background: rgb(238, 241, 236);
}

.details_content {
    padding: 30px 0px;
}

.details_content h2 {
    color: rgb(15, 95, 92);
    font-size: 35px;
    margin-bottom: 15px;
}

.details_content p {
    color: rgb(131, 167, 165);
    line-height: 30px;
    font-size: 17px;
}

.price_section {
    padding: 50px 0px;
}

.price_box {
    width: 250px;
    height: 400px;
    border: 1px solid black;
    padding: 30px 50px;
}

.price_content {
    display: flex;
}

.price_box h4 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(111, 176, 72);
    margin-top: 20px;
}

.price_box h1 {
    font-size: 65px;
    font-weight: 600;
    color: rgb(15, 95, 92);
    margin-top: 20px;
    line-height: 40px;
}

.price_box p {
    font-size: 15px;
    font-weight: 600;
    color: rgb(15, 95, 92);
}

.price_box h6 {
    color: rgb(131, 167, 165);
    margin-top: 15px;
}

.price_box .btn_started {
    margin-top: 20px;
    color: rgb(131, 167, 165);
}

.price_box .btn_learn {
    margin-top: 20px;
    color: rgb(111, 176, 72);
    border-radius: 5px;
}

.price_box .btn_started:hover {
    color: rgb(255, 255, 255);
}

.price_box .btn_learn:hover {
    color: rgb(255, 255, 255);
}

.plan_section {
    padding: 50px 0px;
}

.plan_details {
    padding: 40px 0px;
}

.plan_details .responsiv_icon {
    padding-bottom: 15px;
}
.plan_details .responsiv_icon p{
    color: #83a7a5;
    font-size: 18px;
}

.help{

padding-bottom: 50px;
}
.help .heading i{
     font-size: 40px;
     color: #6fb048; 
     margin-bottom: 20px;
}
.help .heading p{
    margin-bottom: 20px;
}
.help .heading a{
    text-decoration: none;
    font-size: 20px;
    color: #0f5f5c; 
    margin-bottom: 20px;
    font-weight: 600;
}

.download{
  background-image: url('../image/footer.png');
  min-height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}
.download h2{
    
color: #0f5f5c;
    
font-size: 30px;
    
font-weight: 600;
    
margin-bottom: 11px;
}
.download p{
    
color: #83a7a5;
    
font-size: 17px;
    
font-weight: 500;
}
.download .btn_learn{
    color: #6fb048;
    font-size: 15px;
    padding: 0;
    padding: 10px;
    transition: .4s all ease-in-out;
}

.download .btn_learn:hover{
    color: #fff;
    
}

footer{

padding: 30px 0;
}
footer ul{
    
list-style: none;
}
footer ul li{
    margin-bottom: 5px;
}

footer ul li a{
    
text-decoration: none;
    
color: #83a7a5;
    
font-size: 16px;
margin-bottom: 5px;
}

footer ul li p{
    
text-decoration: none;
    
color: #83a7a5;
    
font-size: 16px;
margin-bottom: 5px;
}
footer ul li h4{
    
    text-decoration: none;
        
    color: #0f5f5c;
        
    font-size: 25px;
    text-transform: uppercase;
    }

.email_part{

position: relative;
}
.email_part input[type="email"]{
    
border: 0;
    
padding: 5px 0px 5px 10px;
    
background: #eef1ec;
margin-top: 10px;
}
.email_section{

position: absolute;

top: 13px;

right: 80px;
}
.email_section i{
    color: #6fb048;
}

.email_part input::placeholder, .email_part input:focus{
    color: #83a7a5;
    outline: none;
}

footer ul li:first-child{

    font-weight: 600;
    color: #0f5f5c;
    margin-bottom: 5px;
}

footer ul li h6{
    color: #0f5f5c;
    margin-bottom: 5px;
}

footer span{
    
display: block;
    
height: 1px;
    
width: 100px;
    
background: #eef1ec;
}

.copy{

}
.copy p{
    
margin-top: 40px;
    
color: #83a7a5;
    
font-size: 17px;
}
.icon_f{

display: flex;

justify-content: end;

align-items: center;
}
.icon_f a{
    text-decoration: none;
    color: #fff;
}
.footer_icon{
    
width: 40px;
    
height: 40px;
    
line-height: 45px;
    
margin-top: 40px;
    
border-radius: 50%;
    
margin-left: 15px;
}



.twitter{
    background-color: #55acee;
    font-size: 20px;
    text-align: center;
}
.facebook{
    background-color: #3b5998;
    font-size: 20px;
    text-align: center;
}
.instagram{
    background-color: #3f729b;
    font-size: 20px;
    text-align: center;
}
.dribble{
    background-color: #ea4c89;
    font-size: 20px;
    text-align: center;
}
.github{
    background-color: #333333;
    font-size: 20px;
    text-align: center;
}